body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.image{
    width: 20%;

}

.login-btn, .register-btn {
    margin: 0 5px;
    background-color: #45a049;
    padding: 8px;
    border-radius: 1em;
    text-decoration: none;
    color: white;
}

.register-btn {
    background-color: #3498db;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 50%;
    color: #fff;
    text-align: center;
    padding: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin: 10px;
    
    
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3498db;
    width: 100%;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1);
}
form {
    max-width: 400px;
    margin: 0 auto;
}
h2 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
}
input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
button {
    background-color: #4caf50;
    color:#fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}


.slideshow-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

/* Style the dots that represent each image */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Style the active dot */
.active {
    background-color: #717171;
}

main {
    display: flex;
    padding: 10px; 
    margin: 20px; 
    
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Gaya Halaman Beranda */
section {
    text-align: center;
}

/* Gaya Halaman Galeri (galeri.html) dan Kontak (kontak.html) ditambahkan sesuai kebutuhan */
